body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link {
  color: gray;
  cursor: pointer;
}

.link:hover {
  color: black;
}

/* HEADER */
.header {
  width: 100%;
  height: 100px;
}

.header p {
  margin-top: 2em;
}

.header div {
  line-height: 0;
}

.header div p:last-child {
  font-size: 0.8em;
}

.header #sessionName {
  float: left;
  margin-left: 4em;
}

.header #characterInfo {
  float: right;
  margin-right: 4em;
  text-align: right;
}

#nextSesstionBtn {
  color: royalblue;
}

#nextSesstionBtn:hover {
  color: darkblue;
  cursor: pointer;
}

/* TABLE STYLING */
.table {
  width: 60%;
  margin: auto;
  margin-bottom: 4em;
}

.table table {
  width: 100%;
  border: 1px solid gray;
  border-collapse: collapse;
}

.table thead {
  font-weight: bold;
}

.table tr {
  border: 1px solid gray;
}

.table td {
  padding: 0.5em;
}

.table tbody tr:nth-child(odd) {
  background-color: #eee;
}

.table tr:nth-child(even) {
  background-color: #fff;
}

/* SPELL PAGE */
.spellPage {
  width: 70%;
  height: 80%;
  background-color: white;
  border: 1px solid gray;
  padding: 4em;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.spellPage div {
  margin-bottom: 2em;
}

.spellHeader {
  border-bottom: 1px solid mediumslateblue;
  padding-bottom: 1em;
}

.exitButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.5em 2em;
}